h2 {
  text-shadow: 1px 1px 4px #de9cff;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  background-color: #ffcab6;
  margin-top: 40px;
  padding: 25px;
  border-radius: 10px;
  color: #fff;
  width: 50%;
  height: 300px;
  text-align: center;
}
.btn {
  background-color: #d5b5ff;
  border: 3px solid #bc66ff;
  border-radius: 10px;
  outline: none;
  padding: 5px;
  cursor: pointer;
  transition: 0.1s linear;
}
.btn:hover {
  background-color: #fff;
  transform: scale(1.1);
}
.number {
  display: flex;
  justify-content: center;
  color: #bc66ff;
  font-size: 20px;
}
